.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}
.fullbleed{
    background-color: #1f2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.headersubtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 10px;
}

.navlinks .headersubtext {
    margin-left: 30px;
}

.headerlogotext {
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.navlinks {
    display: flex;
}

.herobox {
    display: flex;
}

.herobox1, .herobox2 {
    width: 50%;
    margin: 100px 0px;
    flex: 1;
}

.herobox1 {
    padding-right: 100px;
}

.herobox2 img {
    width: 100%;
    height: auto;
}

.btn {
    color: white;
    font-weight: 700;
    background-color: #3882f6;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

main {
    text-align: center;
    padding: 100px 0px;
}


h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 20px 0;
}

.card {
    display: flex;
    padding: 0 10%;
}

.cardbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0px 5px;
}

.cardboximg {
    width: 50%;
    border: 3px solid #3882f6;
    /* max-height: 20px; */
    border-radius: 10px;
}

.cardboximg img {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.quotefullbleed{
    background-color: #e5e7eb;
}

.quotebox {
    padding: 100px 10%;
}

h3 {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quotebox p {
    font-weight: 700;
    text-align: right;
}

.contactbox {
    background-color: #3882f6;
    padding: 50px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    border-radius: 25px;
}

.contactbox2 .btn {
    border-radius: 10px;
    margin-top: 0px;
    border: 2px solid white;
}

h4 {
    color: white;
    font-size: 24px;
}

.contactbox1 p {
    color: white;
}

footer {
    padding: 50px 0px;
}

.wrapper>p {
    color: white;
    text-align: center;
}